html, body { background:#000000; }
* { color:#FFFFFF; }
a, a:hover, a:active, a:visited { color: #FFF333 }
header a, header a:hover, header a:active, header a:visited, .breadcrumb span, .breadcrumb a, .breadcrumb a:hover, .breadcrumb a:active, .breadcrumb a:visited { color:#000000; }
a, a:hover, a:active, a:visited, header a, header a:hover, header a:active, header a:visited, .breadcrumb a, .breadcrumb a:hover, .breadcrumb a:active, .breadcrumb a:visited { text-decoration:underline; }
#logo { color:#000000; }
.glyphicon, .nav > li > a:hover { color:#000000; }