header { 
	background:#F5F5F5;
	/*width:100%;*/
	padding:10px 0;
    border-bottom:1px solid #D9D9D9;
}
header ul { 
    padding:0;
}
#header-container {
    display:table;
    width:100%;
}
footer {
    padding:10px 15px;
    width:100%;
    display: table;
}
.navbar {
    margin:20px 0 0 0;
}
.navbar .navbar-toggle {
    border-color: #333;
    background-color: #222;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar .navbar-toggle:hover {
    background-color: #333;
}
.nav.nav-sidebar > li:first-child {
    border-top: 1px solid #EEE;
}
.nav.nav-sidebar > li {
    border-bottom: 1px solid #EEE;
}
.nav.nav-sidebar > li > a > span.glyphicon {
    margin-right:5px;
}
.content {
    display:table;
}
#accessibility {
	/*display: block !important;
	float: left;
	width: 50%;*/
	font-size: 0.88em;
	/*padding:0;*/
}
#siteactions {
    /*display: block;*/
    float: right;
    /*padding-bottom: 2px;*/
    font-size: 0.93em;
}
#logo {
    /*float: left;
    padding: 0px;
    width: 70%;*/
    font-size:52px;
}
#busca {
    /*float: right;
    clear: right !important;
    text-align: right;*/
    font-size: 80%;
    margin-top: 10px;
}
#social {
    float: right;
    clear: right;
    margin: 1.167em 0px;
}
ul#social, ul#accessibility, ul#siteactions {
    list-style: none outside none;
}
ul#social li, ul#accessibility li, ul#siteactions li {
	float:left;
	margin-right:5px;
}
#link-topo {
    margin-top:20px;
}
#map-canvas {
    height: 400px;
    width:100%;
    margin: 0px;
    padding: 0px;
}
.inicio-noticia img {
    width:100%;
}
.carousel-inner .item img {
    width:100%;
    /*height: 453px;*/
}
#downloadQuickSearch {
    width:100%;
}
.region-sidebar-first .link-social div {
    width: 100%;
    height: 100%;
}
.icon-facebook {
    background-position: 0px -42px;
}
.icon-facebook:hover {
    background-position: 0px -71px;
}
.icon-twitter {
    background-position: -24px -42px;
}
.icon-twitter:hover {
    background-position: -24px -71px;
}
.icon-facebook, .icon-twitter {
    background-repeat: no-repeat;
    background-image: url('/img/spint-icons-top.png');
    width:24px;
    height:25px;
}
.img-zoom-hover {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.img-zoom-hover:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}
.lista-noticias {
    color: #666;
}
.lista-noticias ol {
    padding:0;
}
.lista-noticias li {
    overflow: auto;
    list-style: none outside none;
    border-top: 1px dotted #DDD;
    padding: 1.4em 0px;
}
.lista-noticias p {
    display: block;
    line-height: 1.2em;
}
.lista-noticias h3 {
    margin-bottom: 0.45em;
    margin-top: 0;
}
.lista-noticias .data {
    border-top: 1px solid #DDD;
    padding: 1.25em 0px;
    letter-spacing: -0.05em;
}
.lista-noticias .hora {
    letter-spacing: -0.07em;
}
.lista-noticias .noticia {
}