<h1><?php echo $this->translate('Contato'); ?></h1>
<ul class="breadcrumb">
    <span><?php echo $this->translate('Você está em'); ?>:</span>
    <li><a href="/inicio"><?php echo $this->translate('Página Inicial'); ?></a></li>
    <li class="active"><?php echo $this->translate('Contato'); ?></li>
</ul>
<h2><?php echo $this->translate('Fale conosco'); ?></h2>
<p><strong><?php echo $this->translate('Telefone'); ?></strong>: +55 55 3220-0000</p>
<p><strong><?php echo $this->translate('Email'); ?></strong>: <a href="mailto:importacao@ufsm.br">importacao@ufsm.br</a></p>
<h2><?php echo $this->translate('Onde estamos'); ?></h2>
<div id="map-canvas"></div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    function initialize() {
      var myLatlng = new google.maps.LatLng(-29.716011, -53.718761);
      var mapOptions = {
        zoom: 17,
        center: myLatlng
      }
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Setor de Importações'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>