<h1><?php echo $this->translate('Página Inicial'); ?></h1>
<ul class="breadcrumb">
	<span><?php echo $this->translate('Você está em'); ?>:</span>
	<li class="active"><?php echo $this->translate('Página Inicial'); ?></li> 
</ul>


<div class="col-md-12">
	<div id="carousel-example-generic" class="carousel slide">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item active">
			<a href="/noticias/visualizar/6">
				<img src="/img/800x288.png" class="img-zoom-hover">
		  		<div class="carousel-caption">
			    	<h3>Lorem 6</h3>
			    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, facilis quia saepe, perspiciatis recusandae quo enim sit totam possimus nihil corrupti perferendis nulla aut ad explicabo a autem repellat esse.</p>
		  		</div>
		  	</a>
		</div>
		<div class="item">
			<a href="/noticias/visualizar/5">
				<img src="/img/800x288.png" class="img-zoom-hover">
				<div class="carousel-caption">
					<h3>Lorem 5</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo eligendi, veritatis accusamus deleniti consectetur aperiam qui repellendus, eius, odio deserunt consequuntur a. Vitae iusto natus harum, quidem enim eius quisquam!</p>
				</div>
			</a>	
		</div>
		<div class="item">
			<a href="/noticias/visualizar/4">
				<img src="/img/800x288.png" class="img-zoom-hover">
				<div class="carousel-caption">
					<h3>Lorem 4</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quisquam facere est, aliquid adipisci laboriosam ratione animi commodi itaque quas nihil dolore ad mollitia non, atque et nemo aspernatur numquam.</p>
				</div>
			</a>
		</div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
</div>

<div class="row-fluid">
	<div class="col-md-12">
		<h3><?php echo $this->translate('Notícias'); ?></h3>
		<hr />
	</div>
	<div class="col-md-4 inicio-noticia">
		<img src="/img/400x194.png" class="img-responsive" />
		<h3><a href="/noticias/visualizar/1">Lorem ipsum</a></h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laboriosam, aut repellendus quam ipsam fugiat velit nam suscipit repellat porro ex assumenda dignissimos. Quas, soluta doloremque dolor deleniti ullam dignissimos?
	</div>
	<div class="col-md-4 inicio-noticia">
		<img src="/img/400x194.png" class="img-responsive" />
		<h3><a href="/noticias/visualizar/2">Lorem ipsum</a></h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolore neque, sit necessitatibus voluptatibus suscipit sunt odit qui magni officiis numquam molestias iste et cum, non dolores cumque id alias.
	</div>
	<div class="col-md-4 inicio-noticia">
		<img src="/img/400x194.png" class="img-responsive" />
		<h3><a href="/noticias/visualizar/3">Lorem ipsum</a></h3>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum veritatis ducimus obcaecati dolores vitae sit rem deserunt quos facere aperiam incidunt quisquam error esse debitis ab, sequi itaque, doloribus facilis?
	</div>
	<div class="col-md-12">
		<p class="text-right lead"><a href="/noticias"><?php echo $this->translate('Ver mais notícias'); ?></a></p>
	</div>
</div>
<hr />