<h1><?php echo $this->translate('Downloads'); ?></h1>
<ul class="breadcrumb">
	<span><?php echo $this->translate('Você está em'); ?>:</span>
	<li><a href="/inicio"><?php echo $this->translate('Página Inicial'); ?></a></li>
	<li class="active"><?php echo $this->translate('Downloads'); ?></li> 
</ul>

<div class="col-md-offset-8 col-md-4 col-sm-12 input-group">
	<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
	<input type="text" id="downloadQuickSearch" placeholder="<?php echo $this->translate('Busca rápida downloads'); ?>..." class="form-control" />
</div>

<ul class="downloadList">
	<li>
		<h2>Item 1</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item 2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item 3</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item 4</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item 5</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item 6</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
	<li>
		<h2>Item</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae excepturi iste deleniti a magnam, id delectus animi voluptatem eum placeat ad quasi dolor sapiente sint distinctio fuga modi. Hic, aspernatur.</p>
		<p><a href="#"><?php echo $this->translate('Download'); ?></a></p>
	</li>
</ul>