<?php echo $this->doctype(); ?>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <meta name="description" content="">
    <meta name="author" content="marceloburkard@gmail.com">
    <title><?php echo $this->translate('Título da Página', NULL, 'en_US'); ?></title>

    <!-- Le styles -->
    <?php echo $this->headLink()
                    //->prependStylesheet($this->basePath() . '/css/alto-contraste.css', 'screen', FALSE, array('id' => 'css-alto-contraste'))
                    ->prependStylesheet($this->basePath() . '/css/estilo.css')
                    ->prependStylesheet($this->basePath() . '/css/bootstrap-accessibility.css')
                    ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                    ; ?>

</head>
<body>
    <header>
        <div id="header-container" class="container-fluid" role="banner">
            <a name="topo"></a>
            <div class="row-fluid">
                <div class="hidden-xs hidden-sm col-md-7">
                    <ul id="accessibility">
                        <li><a accesskey="1" href="#conteudo" id="link-conteudo"><?php echo $this->translate('Ir para o conteúdo'); ?> <mark>1</mark></a></li>
                        <li><a accesskey="2" href="#navegacao" id="link-navegacao"><?php echo $this->translate('Ir para o menu'); ?> <mark>2</mark></a></li>
                        <li><a href="#busca" id="link-buscar"><?php echo $this->translate('Ir para a busca'); ?> <mark>3</mark></a></li>
                        <li class="last-item"><a accesskey="4" href="#rodape" id="link-rodape"><?php echo $this->translate('Ir para o rodapé'); ?> <mark>4</mark></a></li>
                    </ul>
                </div>
                <div class="hidden-xs hidden-sm col-md-5">
                    <ul id="siteactions">
                        <li id="siteaction-contraste"><a href="#" accesskey="5"><?php echo $this->translate('Alto Contraste'); ?></a></li>
                        <li><a href="#"><?php echo $this->translate('Acessibilidade'); ?></a></li>
                        <li class="last-item" id="siteaction-mapadosite"><a href="/mapa-do-site" accesskey="6"><?php echo $this->translate('Mapa do Site'); ?></a></li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div id="logo" class="col-xs-12 col-sm-12 col-md-9">
                    <?php echo $this->translate('Título da Página'); ?>
                </div>
                <div id="busca" class="col-xs-12 col-sm-12 col-md-3">
                    <a name="busca"></a>
                    <form role="search">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="<?php echo $this->translate('Buscar no site'); ?>..." name="srch-term" id="busca-campo" type="text"accesskey="3" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-2">
                    <ul id="social">
                        <li><a href="http://facebook.com/" target="_blank"><div class="icon-facebook"></div></a></li>
                        <li><a href="http://twitter.com/" target="_blank"><div class="icon-twitter"></div></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="col-sm-4 col-md-3 col-lg-2">
                <nav class="navbar" role="navigation">
                    <div class="navbar hidden-sm hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <a name="navegacao" id="navegacao"></a>
                        <ul class="nav nav-sidebar">
                            <li class="active"><a href="/inicio"><span class="glyphicon glyphicon-home"></span> <?php echo $this->translate('Página Inicial'); ?></a></li>
                            <li class="active"><a href="/downloads"><span class="glyphicon glyphicon-download-alt"></span> <?php echo $this->translate('Downloads'); ?></a></li>
                            <li><a href="/noticias"><span class="glyphicon glyphicon-align-justify"></span> <?php echo $this->translate('Notícias'); ?></a></li>
                            <li><a href="/sobre"><span class="glyphicon glyphicon-info-sign"></span> <?php echo $this->translate('Sobre'); ?></a></li>
                            <li><a href="/contato"><span class="glyphicon glyphicon-envelope"></span> <?php echo $this->translate('Contato'); ?></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <a name="conteudo" id="conteudo"></a>
                <?php echo $this->content; ?>
            </div>

        </div>

        <div class="row-fluid">
            <div id="link-topo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="lead"><i class="glyphicon glyphicon-arrow-up"></i> <a href="#topo"><?php echo $this->translate('Topo da página'); ?></a></p>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr>
                <footer>
                    <a name="rodape" id="rodape"></a>
                    <address>
                        <strong><?php echo $this->translate('Título da Página'); ?></strong><br />
                        Av. Roraima, 1000<br />
                        Cidade Universitária<br />
                        Bairro Camobi<br />
                        Santa Maria, RS 97015-900<br />
                        <abbr title="<?php echo $this->translate('Telefone'); ?>"><?php echo $this->translate('Fone'); ?>:</abbr> +55 (55) 3220-8000
                    </address>
                    <p class="text-center">
                        <small><?php echo date('Y') ?> <?php echo $this->translate('Todos os direitos reservados'); ?></small><br />
                        <small><?php echo $this->translate('Universidade Federal de Santa Maria'); ?></small>
                    </p>
                </footer>
            </div>
        </div>
    </div> <!-- /container -->

    <!-- Scripts -->
    <?php 
        echo $this->inlineScript();
        echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/bootstrap-accessibility.min.js')
            ->prependFile($this->basePath() . '/js/functions.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',)); 
    ?>
</body>
</html>