<h1><?php echo $this->translate('Notícias'); ?></h1>
<ul class="breadcrumb">
    <span><?php echo $this->translate('Você está em'); ?>:</span>
    <li><a href="/inicio"><?php echo $this->translate('Página Inicial'); ?></a></li>
    <li class="active"><?php echo $this->translate('Notícias'); ?></li>
</ul>

<div class="lista-noticias">
	<ol>
		<li class="data">10 de <strong>Setembro de 2014</strong></li>
		<li>
			<p class="hora col-xs-1 col-sm-1 col-md-1 col-lg-1">14h15</p>
			<div class="noticia col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<img src="/img/100x75.png" style="float:left;margin:0 10px 5px 0" class="img-responsive img-rounded" width="100px" height="75px" />
				<h3><a href="/noticias/visualizar/6">Lorem 6</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus dolorum at atque enim suscipit quidem voluptate, debitis neque dignissimos quo quasi consequatur mollitia recusandae officia maiores obcaecati. Doloribus, deserunt?</p>
			</div>
		</li>
		<li>
			<p class="hora col-xs-1 col-sm-1 col-md-1 col-lg-1">10h02</p>
			<div class="noticia col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<h3><a href="/noticias/visualizar/5">Lorem 5</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus dolorum at atque enim suscipit quidem voluptate, debitis neque dignissimos quo quasi consequatur mollitia recusandae officia maiores obcaecati. Doloribus, deserunt?</p>
			</div>
		</li>
		<li class="data">8 de <strong>Setembro de 2014</strong></li>
		<li>
			<p class="hora col-xs-1 col-sm-1 col-md-1 col-lg-1">11h54</p>
			<div class="noticia col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<h3><a href="/noticias/visualizar/4">Lorem 4</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus dolorum at atque enim suscipit quidem voluptate, debitis neque dignissimos quo quasi consequatur mollitia recusandae officia maiores obcaecati. Doloribus, deserunt?</p>
			</div>
		</li>
		<li>
			<p class="hora col-xs-1 col-sm-1 col-md-1 col-lg-1">09h21</p>
			<div class="noticia col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<h3><a href="/noticias/visualizar/3">Lorem 3</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus dolorum at atque enim suscipit quidem voluptate, debitis neque dignissimos quo quasi consequatur mollitia recusandae officia maiores obcaecati. Doloribus, deserunt?</p>
			</div>
		</li>
		<li>
			<p class="hora col-xs-1 col-sm-1 col-md-1 col-lg-1">06h09</p>
			<div class="noticia col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<h3><a href="/noticias/visualizar/2">Lorem 2</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus dolorum at atque enim suscipit quidem voluptate, debitis neque dignissimos quo quasi consequatur mollitia recusandae officia maiores obcaecati. Doloribus, deserunt?</p>
			</div>
		</li>
		<li class="data">1 de <strong>Setembro de 2014</strong></li>
		<li>
			<p class="hora col-xs-1 col-sm-1 col-md-1 col-lg-1">13h11</p>
			<div class="noticia col-xs-11 col-sm-11 col-md-11 col-lg-11">
				<img src="/img/100x75.png" style="float:left;margin:0 10px 5px 0" class="img-responsive img-rounded" width="100px" height="75px" />
				<h3><a href="/noticias/visualizar/1">Lorem 1</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus dolorum at atque enim suscipit quidem voluptate, debitis neque dignissimos quo quasi consequatur mollitia recusandae officia maiores obcaecati. Doloribus, deserunt?</p>
			</div>
		</li>
	</ol>
</div>