<h1><?php echo $this->translate('Sobre'); ?></h1>
<ul class="breadcrumb">
	<span><?php echo $this->translate('Você está em'); ?>:</span>
	<li><a href="/inicio"><?php echo $this->translate('Página Inicial'); ?></a></li>
	<li class="active"><?php echo $this->translate('Sobre'); ?></li> 
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde incidunt eum, molestias, voluptatem eligendi numquam itaque aut deserunt, temporibus et debitis! Blanditiis reiciendis nesciunt at commodi voluptate recusandae eum.</p>

<blockquote class="blockquote-reverse">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur optio sit quam veritatis quisquam commodi assumenda, magnam quibusdam iusto ab et inventore eligendi unde dicta asperiores earum dignissimos, ratione!</p>
	<footer>
		Publicado pelo <cite>Autor</cite>
	</footer>
</blockquote>